@tailwind base;
@tailwind components;
@tailwind utilities;


/* Navbaar */

.white-hover:hover {
  text-decoration: none;
  color: white;
}


.blue-hover:hover {
  text-decoration: none;
  color: rgb(62, 178, 201);
}